---
import cars from "../../../assets/cars.json";
const years = [...new Set(cars.map((c) => c.year))].sort((a,b) => a - b);
---

<h1>Voitures — par année</h1>
<ul>
  {years.map((y) => (
    <li><a href={`/cars/year/${y}`}>Année : {y}</a></li>
  ))}
</ul>
